body{
background:#0b1020;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
font-family:Arial;
}

.quiz-box{
width:350px;
padding:20px;
background:#1b1b3a;
border-radius:10px;
text-align:center;
}

button{
margin:10px;
padding:10px 20px;
}

.option{
display:block;
margin:10px;
padding:10px;
background:white;
color:black;
cursor:pointer;
}